* {
  padding: 0;
  margin: 0;
}

:root {
  --nav-color: #023c40;
  --nav-color-gradient: #012528;
  --secondary-color: #f78e69;
  --welcome-color: #503d3f;
  --welcome-color-gradient: #2e2325;
  --background-color: #4effef;
  --text-color: #fffafb;
}

.navbar {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: end;
  /*Positioning stuff*/
  position: fixed;
  left: 0;
  top: 0;
  /*Box model stuff*/
  width: 100%;
  height: 75px;
  background: linear-gradient(
    45deg,
    var(--nav-color),
    var(--nav-color-gradient)
  );
  box-shadow: 0 2px 0 #000000;
}

.nav-section {
  height: 100%;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  color: var(--text-color);
}

.navbar a:hover {
  background-color: antiquewhite;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-color);
  background: linear-gradient(
    45deg,
    var(--welcome-color),
    var(--welcome-color-gradient)
  );
}
