* {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 75px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #d4d4d4;
  width: 100%;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
  .banner {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
  .nav-bar {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  .nav-ul {
    flex-direction: column;
  }
}

.banner {
  width: 60vw;
  max-height: max-content;
}

.nav-bar {
  max-width: 33%;
}

.nav-ul {
  display: flex;
  width: 35vw;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0 40px 0 0;
  overflow: hidden;
  background-color: #d4d4d4;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 28px 12px;
  text-align: center;
  box-sizing: border-box;
  color: black;
}

nav li a:hover {
  background-color: #a5a5a5;
}

/* Main */

main {
  margin: 100px 100px 0 100px;
}

/* Input Hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  margin-bottom: 20px;
}

.hero input[type="email"] {
  max-width: 300px;
  width: 100%;
  padding: 5px;
}

.hero input[type="submit"] {
  background-color: #f1c40f;
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  font-weight: 900;
}

/* Features */

.feature-grid {
  display: flex;
  margin: 0px 100px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: orange;
}

.feature-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
}

/* How It Works */

#how_it_works {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Pricing */

.pricing {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: calc(100% / 3);
  margin: 10px;
}

.level {
  background-color: #a5a5a5;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.product ol {
  list-style: none;
  text-align: center;
}

.product button {
  border: 1;
  background-color: #f1c40f;
  height: 40px;
  padding: 0 20px;
  font-size: medium;
}

.product *:not(.level) {
  margin: 10px 0;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 30px;
  padding-right: 75px;
  background-color: #d4d4d4;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
}

.contacts li {
  padding: 0 10px;
}

.contacts a {
  text-decoration: none;
  color: black;
}

.copyright {
  margin-top: 5px;
  display: flex;
  justify-content: end;
  color: black;
}
